@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    @apply font-semibold;
  }

  p {
    @apply text-lg leading-[30px] mb-[30px] last:mb-0;
  }

  a {
    @apply cursor-pointer text-green-500 font-bold hover:underline decoration-2 underline-offset-4;
  }
}

@layer components {
  .photo {
    margin-top: 30px;
    box-shadow: 30px -30px 0 0 #006666;
    width: calc(100% - 30px);
  }

  @media screen(lg) {
    .photo {
      margin-top: 60px;
      box-shadow: 60px -60px 0 0 #006666;
      width: calc(100% - 60px);
    }
  }
}
